body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: #f2f2f2; /* Light gray background */
  margin: 0;
  padding: 0;

}

body {
  margin: 10px 20px;
}


header {
  background-color: #0000ff; /* Dark blue background */
  color: #ffffff; /* White text */
  padding: 20px;
  text-align: center; /* Center the header content */
}

h1 {
  font-size: 2.5em; /* Large font size for the heading */
  font-weight: bold; /* Bold font weight */
  margin-bottom: 10px;
}

h2 {
  font-size: 1.8em; /* Medium font size for subheadings */
  font-weight: bold; /* Bold font weight */
  margin-bottom: 10px;
}

p {
  font-size: 1.5em; /* Medium font size for paragraphs */
  line-height: 1.5; /* Comfortable line spacing */
  margin-bottom: 10px;
}

img {
  max-width: 500px; /* Cap image width to 500px */
  margin: 0 auto; /* Center the images horizontally */
  display: block; /* Make images block elements */
}

ul {
  list-style-type: none; /* Remove default list-style bullets */
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  padding-left: 10px; /* Add some padding to list items */
}

a {
  text-decoration: none; /* Remove default link underline */
  color: #0000ff; /* Blue link color */
}

footer {
  background-color: #0000ff; /* Dark blue background */
  color: #ffffff; /* White text */
  padding: 20px;
  text-align: center; /* Center the footer content */
}
